{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@wordpress/babel-plugin-makepot", { "output": "languages/gutenberg.pot" }]
  ]
}
