.block-editor-block-mover__control {
  padding: 0;
}

.wp-block {
  max-width: 1024px;
}

@media (min-width: 782px) {
  .gutenberg__editor .edit-post-layout .edit-post-layout__content {
    margin-top: 32px;
    overflow-y: auto;
  }
}
