<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Gutenberg</title>
    <link rel='stylesheet' id='gutenbergtheme-style-css'  href='//wordpress.org/gutenberg/wp-content/themes/pub/gutenberg/style.css?ver=12' type='text/css' media='all' />
    <link rel='stylesheet' id='common-css'  href='//wordpress.org/gutenberg/wp-admin/css/common.min.css?ver=5.2-alpha-44955' type='text/css' media='all' />
    <script src="//cdn.bootcss.com/react/16.8.4/umd/react.production.min.js"></script>
    <script src="//cdn.bootcss.com/react-dom/16.8.4/umd/react-dom.production.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
    <script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
    <div id="editor" class="gutenberg__editor"></div>
  </body>
</html>
